<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" style="position: absolute;top: 0px;left: 80px;
    width: -webkit-calc(100% - 200px);z-index: 1">
    <div class="container-fluid">
    <div class="navbar-header"></div>
        <span style="font-size: xx-small" class="navbar-brand">项目名称：{{ project.name }}</span>
        <a class="navbar-brand" href="/project_list/">返回项目列表</a>

        <ul class="nav navbar-nav">
            <li ><a href="/apis/{{project.id}}/">接口库</a></li>
            <li ><a href="/cases/{{project.id}}/">用例库</a></li>
            <li><a href="/project_set/{{project.id}}/">项目设置</a></li>
            <li class="active"><a href="/global_data/{{project.id}}/">全局变量</a></li>
        </ul>
    </div>
</nav>




<div style="padding-left: 100px ;margin-top: 50px">

    {% for i in global_data %}
         <button class="btn-danger">删除</button>
        <button onclick="show('{{ i.id }}','{{ i.name }}','{{ i.data }}')" class="btn-default" style="margin-top: 5px;width: 200px">{{ i.name }}</button> <br>

    {% endfor %}
    <br>
    <button class="btn-primary">新增</button>
    <button class="btn-success" style="width: 150px">保存当前</button>
</div>
<div style="position: absolute;left: 400px;top: 65px">
    <input id="name" type="text" style="width: 500px" placeholder="输入变量套的名字"> <br>
    <textarea id="data" style="width: 500px;height: 500px;" placeholder="输入json格式的变量套内容"></textarea>
</div>


<script>
    function show(id,name,data) {
        document.getElementById('name').value = name;
        document.getElementById('data').value = data;

    }
</script>
</body>
</html>